.popular-product-weekly-seller-item ul.nav-tabs {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  border: none !important;
  box-shadow: none;
}

.popular-product-weekly-seller-item ul.nav-tabs li {
  margin: 0;
  padding: 0;
}

.popular-product-weekly-seller-item ul.nav-tabs li button {
  color: #2C3C28;
  font-weight: 600;
  box-shadow: none;
  border: none;
  color: var(--color-heading-1);
}

.popular-product-weekly-seller-item ul.nav-tabs li button:hover {
  box-shadow: none;
  border: none;
}

.popular-product-weekly-seller-item ul.nav-tabs li button[aria-selected=true] {
  color: var(--color-primary);
  background: transparent;
}

.single-shopping-card-one.deals-of-day {
  background: #fff;
  border: 1px solid #E2E2E2;
  overflow: hidden;
  position: relative;
}

.single-shopping-card-one.deals-of-day .onsale-offer span {
  display: block;
  position: absolute;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background: var(--color-primary);
  border-radius: 6px 0 6px 0;
  z-index: 10;
  left: 0;
  top: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.single-shopping-card-one.deals-of-day:hover .thumbnail-preview img {
  transform: scale(1.2);
}

.single-shopping-card-one.deals-of-day .start-area-rating {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.single-shopping-card-one.deals-of-day .start-area-rating i {
  color: #FF9A00;
}

.single-shopping-card-one.deals-of-day .action-share-option .single-action svg {
  color: #fff;
  transition: color 0.3s;
}

.single-shopping-card-one.deals-of-day .action-share-option .single-action:hover svg {
  color: #65a30d;
}

.single-shopping-card-one.deals-of-day .thumbnail-preview {
  border: none !important;
}

.single-shopping-card-one.deals-of-day .thumbnail-preview img {
  width: 100%;
  transform: scale(1.01);
}

.single-shopping-card-one.deals-of-day .cart-counter-action .rts-btn {
  background: #629d23;
  color: #629D23;
  border: 1px solid #629D23;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.single-shopping-card-one.deals-of-day .cart-counter-action .rts-btn:hover {
  background: var(--color-heading-1);
  color: #629D23;
  border: 1px solid #2c3c28;
}

.single-shopping-card-one.deals-of-day .cart-counter-action .rts-btn .btn-text {
  color: #fff;
}

.single-shopping-card-one.deals-of-day .cart-counter-action .rts-btn .arrow-icon i {
  color: #fff;
}